.book-list-item{
    display: flex; 
    margin: 15px 0; 
}

.book-list-item .book-cover{
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;
}

.book-list-item .book-cover img{
    flex-shrink: 0;
    max-width: 100%;
    margin-right: px;;
}

.book-list-item .book-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
}

.book-list-item .book-details .book-title{
    font-size: 1.4rem;
    text-decoration: none;
}

.book-list-item .book-details .book-price{
    font-size: 1.4rem;
}