.shop-header{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.shop-header a{
    text-decoration: none;
}

.shop-header .logo{
    font-family: "Playfair Display", Georgia,serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}
.shop-header .shopping-cart{
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
    color: black;
    margin-top: 10px;;
}

.shop-header .shopping-cart .cart-icon{
    font-size: 2.5rem;
    color: cadetblue;
    margin-right: 10px;
}